@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-09 13:37:30
 * @version $Id$
 */
#box{
	height: 43px;
	width: 420px;
	

	border:1px solid;
	border-color: lightgray;
    font-family:consolas ;
}
#box1{
	height: 50px;
	width: 400px;
	padding: 10px;
	
	border:1px solid;
	border-color: lightgray;
    font-family:consolas ;
}
#box2{
	
	height: 200px;
	width: 400px;
	
	padding: 10px;

	border:1px solid;
	border-color: lightgray;
    font-family:consolas ;

}
#t1{
	position: relative;
	top :-10px;
	right: 10px;
	height: 20px;
	width: 400px;
	background: white;
}
#txt1{
	float: left;
	height: 5px;
	width: 350px;
	padding: 10px;
	margin:1px;
    border:1px solid;
	border-color: lightgray;
    font-family:consolas ;

}
#txt2{
	position: relative;
	top:15px;
	float: left;
	height: 5px;
	width: 250px;
	padding: 10px;
	margin:10px;
    border:1px solid;
	border-color: lightgray;
    font-family:consolas ;
}
#box4{
	position: relative;
	top:10px;
	float: left;
	background: #FF5809;
	
	height: 80px;
	width: 80px;
     margin:5px;
	border-color: lightgray;
    font-family:consolas ;
}
#box5{
	position: relative;
	bottom: 15px;
	float: left;
	background: #FF5809;
	height: 60px;
	width: 60px;
	padding: 0px;
	margin:10px;
	margin-top: 30px;
	border-color: lightgray;
    font-family:consolas ;

}
#box6{
	height: 300px;
	width: 400px;
	padding: 10px;
	border:1px solid;
	border-color: lightgray;
    font-family:consolas ;

}
#box7{
	float: left;
	background: #FF5809;
	
	height: 100px;
	width: 60px;
     margin:50px;
	border-color: lightgray;
    font-family:consolas ;
}

#part1{
	background: #FF5809;
	
	height: 10px;
	width: 85px;
	float: left;
	margin:10px;
	padding: 10px;
    position: relative;
    top:40px;
	border:1px solid;
	border-color: lightgray;
    font-family:consolas ;
}
.clear{
	clear: both;
}
.button{
	float: left;
	
    height: 43px;
    width: 84px;
   
border:none;background:#ccc;display:block;
margin: none;
}
.txt1{
	font-family: Microsoft yahei;
	color: black;
	font-size:16px;
	align-content: center;
}
.txt2{
	position: relative;
	top:100px;
	font-size:16px;
}
.txt3{

	position: relative;
	top:60px;
	left: 10px;
	font-size:16px;
}


