.title{
	position: absolute;
	top: 0px;
	left: 0px;
	background: #4F9D9D;
	height: 100px;
	width: 100%;
}
.h1{
	position: absolute;
	top:-40px;
	right: 40%;
	font-family: Consolas;
	font-size: 70px;
}
.a{
	height: 100px;
	width: 100px;
	color: red;
    font-family: Microsoft yahei;
	text-decoration:none;
	position: relative;
	top: 100px;
	font-size: 50px;
}