@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-09 13:37:30
 * @version $Id$
 */
#box{
	height: 20px;
	width: 400px;
	padding: 10px;
	border:2px solid;
    border-radius:10px;
    -moz-border-radius:25px; /* Old Firefox */
	border-color: lightgray;
	box-shadow:5px 5px 9px #aaaaaa;
	border-image:url("img/4.png") 30 30 round;
    font-family:consolas ;
}
#box1{

	height: 50px;
	width: 400px;
	
	padding: 10px;
	
	border:1px solid;
	border-color: lightgray;
    font-family:consolas ;
}
#box2{
	
	height: 200px;
	width: 400px;
	
	padding: 10px;

	border:1px solid;
	border-color: lightgray;
    font-family:consolas ;

}
#t1{
	width: 400px;
}
#txt1{
	float: left;
	height: 5px;
	width: 350px;
	padding: 10px;
	margin:1px;
    border:1px solid;
	border-color: lightgray;
    font-family:consolas ;

}
#txt2{
	position: relative;
	top:15px;
	float: left;
	height: 5px;
	width: 250px;
	padding: 10px;
	margin:10px;
    border:1px solid;
	border-color: lightgray;
    font-family:consolas ;
}
#box4{
	position: relative;
	top:10px;
	float: left;
	background: lightgreen;
	height: 80px;
	width: 80px;
     margin:5px;
	border-color: lightgray;
    font-family:consolas ;
}
#box5{
	float: left;
	background: lightgreen;
	height: 60px;
	width: 60px;
	padding: 0px;
	margin:10px;
	margin-top: 30px;
	border-color: lightgray;
    font-family:consolas ;

}
#box6{
	height: 300px;
	width: 400px;
	padding: 10px;
	border:1px solid;
	border-color: lightgray;
    font-family:consolas ;

}
#box7{
	position: relative;
	top:10px;
	float: left;
	background: lightgreen;
	height: 100px;
	width: 50px;
     margin:45px;
	border-color: lightgray;
    font-family:consolas ;
}
box:before{
	content: "123";
}
#part1{
	background: orange;
	height: 10px;
	width: 85px;
	float: left;
	margin:10px;
	padding: 10px;
    position: relative;
    top:40px;
	border:1px solid;
	border-color: lightgray;
    font-family:consolas ;
}
.clear{
	clear: both;
}



