@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-09 13:37:30
 * @version $Id$
 */
#box{
	height: 50px;
	width: 200px;
	margin: 10px;
	padding: 10px;
	
	border:0.1px solid;
	border-color: gray;
    font-family:consolas ;
}
#box1{

	height: 50px;
	width: 400px;
	
	padding: 10px;
	
	border:1px solid;
	border-color: gray;
    font-family:consolas ;
}
#box2{
	
	height: 200px;
	width: 400px;
	
	padding: 10px;

	border:1px solid;
	border-color: gray;
    font-family:consolas ;

}
#box3{
	background: black;
	height: 5px;
	width: 350px;
	padding: 10px;
	margin:1px;
	border:1px solid;
	border-color: gray;
    font-family:consolas ;

}
#box4{
	float: left;
	background: black;
	height: 50px;
	width: 50px;
	padding: 10px;
	margin:1px;
	border:1px solid;
	border-color: gray;
    font-family:consolas ;

}
#box:before{
	font-family:Microsoft yahei ;
	content: "日期: ";
}
#box:after{
	position: relative;
	bottom: -10px;
	left:30px;
	content: url(/img/4.png);
}
.clear{
	clear: both;
}


